:root {
  --background:aliceblue;
  --text-color: #000000;
  --card-bg: white;
  --background-header:rgb(171, 192, 234);
  --background-image: url("./assets/Images/sky-backgroung.png");
}

[data-theme="dark"] {

  --background: grey;
  --text-color: #ffffff;
  --card-bg: #4b4a4a;
  --background-image: url("./assets/Images/Background-dark.png");
  --background-header:rgb(39, 39, 39);
}

body {
  margin: 0;
  background-color: var(--background);
}
.ViewNote-main,
.AddNote-main,
.slider {
  background-color: var(--background);
  border-radius: 20px;
  padding: 20px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.ViewNote-cont,
.AddNote-cont,
.Home-cont {
  background-image: var(--background-image);
  }
  .card{
    background-color: var(--card-bg);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    color: var(--text-color);
    border-radius: 15px;
    padding: 20px;
  }
  .Header-cont {
    background-color: var(--background-header);
  }
  .ViewNote-cont{
    color: var(--text-color);
  }
  .AddNote-main{
    color: var(--text-color);
  }
    .AddNote-main input,textarea{
      background-color: var(--card-bg);
      color: var(--text-color);
    }